/* =============== header =============== */
.header {
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(../images/banner1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  min-height: 700px;
  background-attachment: fixed;
}
.header__block {
  padding: 40px 0 20px 0;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  align-items: center;
  line-height: 0;
}

/* logo */
.header__logo a {
  font-size: 36px;
  font-weight: 700;
  color: white;
}
.header__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: center;
}

/* search bar */
.search__bar .search__input {
  padding: 10px 50px 10px 20px;
  background: var(--bg-color);
  display: flex;
  flex: 1;
  color: var(--font-color);
  font-size: 16px;
  height: 45px;
  font-weight: 400;
  right: 0;
  border-radius: var(--border-radius);
  border: 1px solid var(--bg-color);
  outline: 0;
}
.search__bar .search__icon {
  right: 20px;
  top: 15px;
  font-size: 15px;
  cursor: pointer;
}
.theme__mode label input {
  opacity: 0;
}
.switcher {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.fa-sun,
.fa-moon {
  font-size: 24px;
}
.switcher i.fa-sun {
  display: none;
  color: #eee;
}
.switcher i.fa-moon {
  display: block;
  color: #eee;
}
input:checked + .switcher i.fa-sun {
  display: block;
}
input:checked + .switcher i.fa-moon {
  display: none;
}

/* navbar */
button.nav__btn {
  border: none;
  outline: none;
  background: none;
  color: #fbfdfb;
  font-size: 1.95em;
  padding: 0 8px;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(6 3 0 / 77%);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
.overlay.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.4s, opacity 0.4s;
}
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  transform: translateY(-50%);
}
.overlay ul {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0 auto;
  height: 100%;
}
.overlay ul li {
  display: block;
  line-height: 3em;
}
.overlay ul li a {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: white;
  transition: color 0.2s;
}
.btn__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 40px;
  right: 40px;
  overflow: hidden;
  border: none;
  background: var(--primary-color);
  color: white;
  border-radius: var(--border-radius);
}

/* banner */
.banner__block {
  max-width: 600px;
  text-align: left;
  margin-top: 100px;
}
.banner__block h3 {
  color: white;
  font-size: 54px;
  line-height: 64px;
  text-transform: capitalize;
}
.banner__block p {
  font-size: 16px;
  color: white;
}

/* =============== about us =============== */
.about {
  background: var(--bg-light);
}

/* =============== agent =============== */
.agent {
  background: var(--primary-color);
}
.agent__content p {
  color: #ffdfc9;
}
.agent__image {
  background-image: url(../images/banner3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  min-height: 600px;
}
.agent__image::before {
  content: "";
  position: absolute;
  z-index: -1;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  border-radius: var(--border-radius);
  background: rgb(16 15 19 / 60%);
}
.best {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.best__item:hover .best__icon {
  color: var(--secondary-color);
}
.best__link {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.best__link:hover {
  opacity: 0.9;
}

/* =============== categories =============== */
.categories {
  background: var(--bg-grey);
}
.food__image img {
  border-radius: var(--border-radius);
}
.food__image {
  position: relative;
}
.food__image:hover {
  opacity: 0.85;
  transition: all 0.4s;
}
.food__image::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.53) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  border-radius: var(--border-radius);
}
.food__detail {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: auto;
  width: 95%;
  transform: translate3d(0, 10%, 0);
  transition: opacity 0.3s;
}
.food__detail:hover {
  opacity: 1;
  transform: all 0.4s;
}
.categories__item .food__detail a h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: white;
  font-family: "Quicksand", sans-serif;
}
.categories__item .food__detail h6 {
  font-size: 18px;
  color: var(--secondary-color);
}

/* =============== features =============== */
.features {
  background: var(--bg-color);
}
.features__box {
  padding: 40px;
  background: var(--bg-color);
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
  border: 1px solid var(--border-color-light);
  border-radius: 8px;
}
.features__top {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}
.features__icon {
  background: rgba(130, 115, 252, 0.05);
  color: var(--primary-color);
}
.features__icon:hover {
  background: var(--primary-color);
  color: white;
}
.features__info h4 {
  font-size: 24px;
  margin: 5px 0 0;
}
.features__info a:hover {
  color: var(--primary-color);
}

/* =============== contact us =============== */
.contact {
  background-image: url(../images/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
}
.contact::before {
  position: absolute;
  content: "";
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: rgb(16 15 19 / 66%);
}
.contact__content {
  max-width: 700px;
  margin: auto;
}
.contact__content h3 {
  font-size: 45px;
  line-height: 55px;
  color: white;
  max-width: 800px;
}

/* =============== stats ===============  */
.stats {
  margin-top: -70px;
  position: relative;
  z-index: 10;
  /* background: var(--bg-color); */
}
.stats__box {
  padding: 40px 20px;
  background: var(--bg-color);
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  border-radius: var(--border-radius);
  transition: 0.3s;
}
.stats__box:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}
.stats__box i {
  background: var(--primary-color);
  font-size: 26px;
  color: white;
  width: 68px;
  height: 68px;
  line-height: 68px;
  border-radius: 50%;
}
.stats__box h3 {
  font-size: 2.6em;
  font-weight: 600;
  color: var(--heading-color);
}
.stats__box p {
  font-size: 1.1em;
  font-weight: 600;
}

/* =============== video ===============  */
.video {
  background: var(--bg-color);
}
.video__content {
  background: url(../images/banner3.jpg) no-repeat center;
  border-radius: var(--border-radius);
  min-height: 500px;
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
}
.video__content::before {
  content: "";
  position: absolute;
  z-index: -1;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  border-radius: var(--border-radius);
  background: rgb(16 15 19 / 60%);
}
.video__content .play__view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}
#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
.video .play__icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 76px;
  font-size: 26px;
  padding-left: 2px;
  text-align: center;
  border-radius: 50%;
  color: var(--primary-color);
  background: white;
  border: var(--border-color);
  animation: ripple 1s linear infinite;
  transition: 0.3s ease-in-out;
}
.video .play__icon:hover {
  background: var(--primary-color);
  color: white;
  border: var(--border-color);
  transform: scale(1.2);
}
#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}
.mfp-close-btn-in .mfp-close {
  color: white;
}
.mfp-close {
  line-height: 40px;
  top: -40px;
  opacity: 1;
  text-align: right;
}
.mfp-close:active {
  top: -40px;
}

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all var(--animation-duration) ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);
  opacity: 0;
}

/* =============== blog posts ===============  */
.blog {
  background: var(--bg-light);
}
.post {
  display: flex;
  flex-direction: column;
  position: relative;
  word-wrap: breakword;
  background: transparent;
  border-radius: 0;
  border: none;
  min-width: 0;
  background-clip: border-box;
}
.post__top img {
  width: 100%;
  border-radius: var(--border-radius);
}
.post__top__detail {
  left: 10px;
  bottom: 10px;
}
.post__top a.foodType {
  background: var(--primary-color);
  color: white;
  padding: 3px 20px;
  border-radius: 35px;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: 0.05em;
}
.post__top .cookTime {
  font-size: 15px;
  color: white;
  margin-left: 10px;
  letter-spacing: 0.02em;
  opacity: 1;
}
.post__bottom a.post__title {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  margin: 25px 0 15px;
  color: var(--heading-color);
}
.post__footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-size: 16px;
}
.post__footer__left {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: center;
}
.post__footer .author__image img {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.post__footer__right a.read {
  color: var(--heading-color);
  opacity: 0.9;
}
.post__footer__right a.read:hover {
  color: var(--primary-color);
}

/* =============== testimonials ===============  */
.testimonials {
  background: var(--bg-color);
}
.testimonials__content {
  max-width: 700px;
  margin: auto;
}
.testimonials__image {
  display: block;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 20px;
}
.testimonials__item .testimonials__image img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}
.testimonials__item blockquote q {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;
}
.testimonials__item blockquote q::before {
  font-size: 50px;
  color: var(--primary-color);
  display: block;
  font-family: initial;
}
.testimonials__item h3 {
  font-size: 20px;
}
.testimonials__item .customer {
  margin-top: 4px;
  opacity: 0.8;
}
.owl-theme .owl-nav {
  display: none;
}
.owl-theme .owl-dots .owl-dot span {
  margin: 5px 2px;
  background: #d8d8d8;
}
.owl-carousel .owl-dots button.owl-dot {
  padding: 1px 6px !important;
}
.owl-carousel .owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary-color);
}

/* =============== footer ===============  */
.footer {
  background: #000;
}
.footer__info a.footer__logo {
  color: white;
  font-size: 30px;
  font-weight: 600;
}
.social .icon {
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  margin-right: 10px;
  display: inline-block;
  color: var(--primary-color);
}
.social .icon:hover {
  background: var(--primary-color);
  color: white;
}
.footer__list .footer__title {
  color: white;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.footer__list input {
  padding: 14px 20px;
  background: var(--bg-color);
  border-radius: var(--border-radius);
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  border: 1px solid var(--border-color);
  outline: none;
}
.copy {
  padding: 1.2em 0;
  border-top: 1px solid rgb(255 255 255 / 5%);
  background: #000;
}
.copy p {
  color: #ddd;
}
.copy .w3Layouts {
  color: var(--primary-color);
}
.copy .w3Layouts:hover {
  color: white;
}

.backToTop {
  position: fixed;
  z-index: 99;
  bottom: 55px;
  right: 20px;
  width: 50px;
  height: 50px;
  line-height: 36px;
  font-size: 18px;
  text-align: center;
  background: var(--primary-color);
  color: white;
  transition: 0.3s ease-out;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 50%;

  visibility: hidden;
  opacity: 0;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
button.backToTop:focus {
  outline: none;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}
