/* =============== reset css =============== */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =============== light theme =============== */
:root {
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --font-color: rgba(22, 28, 45, 0.7);
  --bg-color: #fff;
  --heading-color: #232121;
  --border-radius: 6px;
  --border-color: transparent;
  --border-color-light: #eee;
  --bg-light: rgba(130, 115, 252, 0.05);
  --bg-grey: #f7f7f7;
  --animation-duration: 0.2s;
}

/* =============== dark theme =============== */
[data-theme="dark"] {
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --font-color: #c2d0da;
  --bg-color: #232220;
  --heading-color: #eee;
  --border-color: rgba(255, 255, 255, 0.2);
  --border-color-light: rgba(255, 255, 255, 0.1);
  --bg-light: #282828;
  --bg-grey: #282828;
  --animation-duration: 3s;
}

/* =============== global =============== */
body {
  font-family: "Quicksand", sans-serif;
  background: var(--bg-color);
}
li {
  list-style: none;
  text-transform: capitalize;
}
q,
a,
a:hover {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  color: var(--heading-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  font-weight: 600;
}
p {
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  margin: 0;
  padding: 0;
}

/* section title */
.title h6 {
  font-family: "Pacifico", cursive;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: var(--primary-color);
  letter-spacing: 1px;
}
.title h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

/* agent and feature icon */
.icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: var(--border-radius);
  font-size: 25px;
  color: var(--primary-color);
  background: white;
  transition: 0.3s ease-in-out;
}
/* header and contact button */
.btn-style {
  margin: 48px 24px 0 0;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-transform: capitalize;
  border-radius: var(--border-radius);
  transition: 0.3s ease-in;
}
.btn-white {
  color: white;
  background: transparent;
  border: 2px solid white;
}
.btn-white:hover {
  color: var(--primary-color);
  background: white;
  border: 2px solid white;
}
.btn-primary {
  color: white;
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.btn-primary:hover {
  color: white;
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
  opacity: 0.8;
}
/* footer */
.footer-font p,
.footer-font a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
.list-mb li {
  margin-bottom: 10px;
}
.link-hover a:hover {
  color: var(--primary-color);
}
