@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

/* =============== global =============== */
/* section title + button */
@media (max-width: 1080px) {
  .title h3,
  .agent .title h3 {
    font-size: 32px !important;
    line-height: 40px;
  }
}

@media (max-width: 600px) {
  .title h3,
  .agent .title h3 {
    font-size: 30px !important;
    line-height: 38px;
  }
  .title h6 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 480px) {
  .title h3,
  .agent .title h3 {
    font-size: 26px !important;
    line-height: 36px;
  }
  .btn-style {
    padding: 10px 21px;
  }
}

@media (max-width: 375px) {
  .title h3,
  .agent .title h3 {
    font-size: 24px !important;
    line-height: 34px;
  }
  .title h6 {
    font-size: 16px !important;
    letter-spacing: 0.5px;
  }
  .btn-style {
    font-size: 16px;
  }
}

/* =============== header =============== */
/* search bar */
@media (max-width: 600px) {
  .header__content .search__bar {
    display: none;
  }
}

/* banner */
@media (max-width: 1190px) {
  .header .banner__block h3 {
    font-size: 48px;
    line-height: 58px;
  }
}

@media (max-width: 992px) {
  .header .banner__block h3 {
    font-size: 44px;
    line-height: 53px;
  }
}

@media (max-width: 800px) {
  .header .banner__block h3 {
    font-size: 40px;
    line-height: 50px;
  }
  .header {
    min-height: 600px !important;
    margin-top: 60px;
  }
}

@media (max-width: 480px) {
  .header .banner__block h3 {
    font-size: 28px;
    line-height: 38px;
  }
  .header .banner__block {
    max-height: 500px !important;
    margin-top: 30px;
  }
  .header {
    min-height: 450px !important;
  }
}

/* =============== agent =============== */
@media all and (max-width: 992px) {
  .agent .best {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    grid-gap: 20px 10px;
  }
  .agent .best .best__item {
    font-size: 18px;
  }
  .agent .agent__image {
    min-height: 200px;
  }
}

/* =============== categories =============== */
@media all and (max-width: 800px) {
  .categories .categories__item .food__detail a h4 {
    font-size: 18px;
    line-height: 28px;
  }
  .categories .categories__item .food__detail h6 {
    font-size: 16px;
  }
}

/* =============== features =============== */
@media (max-width: 415px) {
  .features .features__box {
    padding: 30px;
  }
}

/* =============== contact =============== */
@media (max-width: 1080px) {
  .contact .contact__content h3 {
    font-size: 40px;
    line-height: 50px;
    max-width: 100%;
  }
}

@media (max-width: 736px) {
  .contact .contact__content h3 {
    font-size: 35px;
    line-height: 40px;
  }
}

@media (max-width: 415px) {
  .contact .contact__content h3 {
    font-size: 26px;
    line-height: 34px;
  }
  .contact .contact__content p {
    font-size: 18px;
    line-height: 28px;
  }
}

/* =============== stats =============== */
@media (max-width: 992px) {
  div.stats {
    margin-top: 0;
  }
}

@media (max-width: 640px) {
  .stats__box h3.counter {
    font-size: 2em;
  }
  .stats__item .stats__box {
    padding: 30px 10px;
  }
}

@media (max-width: 480px) {
  .stats .stats__box p {
    font-size: 0.9em;
  }
}

/* =============== video =============== */
@media (max-width: 900px) {
  .video .video__content {
    min-height: 400px;
  }
}

@media (max-width: 640px) {
  .video .video__content {
    min-height: 350px;
  }
}

@media (max-width: 380px) {
  .video .video__content {
    min-height: 300px;
  }
}

/* =============== blog posts =============== */
@media (max-width: 991px) {
  .blog .blog__item a.post__title {
    font-size: 20px;
    line-height: 30px;
  }
}

/* =============== testimonials =============== */
@media (max-width: 675px) {
  .testimonials .testimonials__item blockquote q {
    font-size: 22px;
    line-height: 32px;
  }
}

@media (max-width: 475px) {
  .testimonials .testimonials__item blockquote q {
    font-size: 20px;
    line-height: 30px;
  }
}

@media all and (max-width: 640px) {
  .owl-dots {
    margin-top: 30px;
  }
}

/* =============== footer =============== */
@media (max-width: 992px) {
  .copy {
    text-align: center;
  }
  .footer .social {
    text-align: center;
    margin-top: 20px;
  }
  .footer .footer__list .footer__title {
    margin-bottom: 20px;
    font-size: 20px;
  }
}
@media (max-width: 415px) {
  .footer .footer__list ul li {
    margin-bottom: 8px;
  }
  .footer .footer__info a.footer__logo {
    font-size: 26px;
  }
} ;
